body{
    background-color: black;
}
.googles{
    color: white;
    text-align-last: center;
    padding-top: 7%;
    padding-bottom: 4px;
    font: arial;
    font-size: 40px;
}
div{
    text-align-last: right;
}
.bott{
    text-align-last: center;
    font-size: 12px;
}
#search{
    size: 32;  
    border-radius: 8px;
}
form{
    text-align-last: center;
}
